{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-white font-weight-bold">Du gras, oui mais de qualité</h1>
           <br>
          <h2 class="text-white font-weight-bold">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h1>
        </div>
        <div class="col-lg-8 align-self-baseline">
            <form action="{% url 'products:search' %}" method="get">
              <div class="input-group mb-3">
                <input name="query" type="text" class="form-control" placeholder="Rechercher un produit">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-light" type="submit">Chercher</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-black mt-0">Colette et Remy</h2>
          <hr class="divider my-4">
          <h3 class="text-black mt-0">De la ratatouille aux croissants</h2>
          <p class="text-black-50 mb-4">Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille. </p>
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 order-1">
                  <p class="text-black-50 mb-4 text-justify"><strong>Colette Tatou</strong> : "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
                </div>
                <div class="col-lg-6 col-12 order-3 order-lg-2">
                  <p class="text-black-50 mb-4 text-justify"><strong>Remy</strong> : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
                </div>
                <div class="col-lg-6 col-12 order-2 order-lg-3">
                  <img src="{% static 'img/colette-tatou-full.png' %}" alt="Colette">
                </div>
                <div class="col-lg-6 col-12 order-4">
                  <img src="{% static 'img/ratatouille-portrait.jpg' %}" alt="Remy">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section bg-secondary" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contactez-nous!</h2>
          <hr class="divider my-4">
          <p class="mb-5">Vous souhaitez partager votre avoir du bon gras avec nous, n'hésitez pas!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}